:root {
  --white: #ffffff;
  --black: #1c1b1f;
  --accent: #df2f2f;
  --accent-100: rgba(223, 47, 47, 0.1);
  --dark: #333333;
  --text: #3d3d3d;
  --gray-5: #e0e0e0;
  --gray-1: #f7f7f7;
  --border-radius: 4px;
}
